body {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 100vh;
}

hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: #ddd;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  border: 1px solid black;
  width: 350px;
  border-radius: 12px;
  padding: 10px;

}

.title {
  color: blue;
  text-decoration: underline;
  font-size: x-large;
  font-weight: 500;
}

.paragraph {
  color: red;
  font-size: medium;
}

img {
  width: 150px;
  border: 1px solid gray;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

a {
  text-decoration: none;
  color: white;
}

button {
  margin-top: 5px;
  padding: 5px;
  border-radius: 6px;
  border: 0.5px solid gray;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  background-color: blue;
}

#test {
  background-color: rgba(128, 128, 128, 0.326);
}